div {
    display: block;
}
#wrapper {
    width: 1300px;
    height:1000px;
}

#first {
    float:left;
    width: 17%;
    height: 112%;
    background: #EFF6F8  ;
    position:fixed;

}

#second {
    float:left;
    width: 83%;
    height: 12%;
    background: #D8CBC8  ;
    margin-left: 230px;
    position:fixed;
}

#third {
    float:left;
    width: 83%;
    height: 100%;
    background: #EBF1F2  ;
    margin-left: 230px;
    margin-top: 75px;

}

#logo
{

    margin-left: 35px;
    margin-top: 9px;
    border: none;
    color: white;
    padding: 0px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    width: 61px;
    height: 57px;

}

#inbox
{
    background: #EFF6F8;
    margin-left: 18px;
    margin-top: 0px;
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
#D
{
    background: #EFF6F8;
    margin-left: 18px;
    margin-top: 0px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
#sentmails
{        background:#EFF6F8   ;
    margin-left: 2px;

    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#compose {
    margin-left: 35px;
    margin-top: 28px;
    background-color: #ff5454;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
#search
{
    margin-top: -33px;
    margin-left: 738px;
    background-color: blue;
    border: none;
    color: white;
    padding: 11px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    position: absolute
}


#find  {
    display: block;
    margin: auto auto auto;
    margin-top: 24px;
    margin-left: 24px;
    width: 50%;
    height: 23%;
    padding: 6px 75px;
}

#to  {
    display: block;
    margin: auto auto auto;
    margin-top: -7px;
    width: 50%;
    height: 23%;
    padding: 11px 75px;
}
#subject  {
    display: block;
    margin: auto auto auto;
    margin-top: -1px;
    width: 50%;
    height: 23%;
    padding: 11px 75px;
}
#msg  {
    display: block;
    margin: auto auto auto;
    margin-top: -1px;
    width: 50%;
    height: 23%;
    padding: 119px 75px;
}


.messages {
    height: 4%;
    background-color: #F4FBFC  ;


}